html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    padding-top: 66px;
    font-family: Roboto, sans-serif;
    color: #333;
    line-height: 20px;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

h1 {
    margin: 10px 0px;
    font-size: 38px;
    line-height: 44px;
    font-weight: 300;
}

h2 {
    margin: 5px 0px 5px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;
}

h3 {
    margin: 0px 0px 6px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
}

h4 {
    margin: 10px 0px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

p {
    margin-top: 0px;
    margin-bottom: 10px;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.active {
    background-color: #717171;
}

.back-link {
    display: block;
    margin-left: 2px;
    opacity: 0.44;
    -webkit-transition: opacity 900ms ease;
    transition: opacity 900ms ease;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}

.back-link:hover {
    opacity: 1;
}

.bottom-padding {
    margin: 5px 0px 32px;
}

.button {
    display: inline-block;
    margin-right: 14px;
    padding: 16px 26px;
    border: 2px solid #000;
    background-color: #000;
    -webkit-transition: background-color 250ms ease, color 250ms ease, border-color 250ms ease;
    transition: background-color 250ms ease, color 250ms ease, border-color 250ms ease;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

.button.form {
    padding-top: 18px;
    padding-bottom: 18px;
    border-width: 0px;
    background-color: #d1d1d1;
    font-weight: 300;
}

.button.form:hover {
    background-color: #249cff;
}

.button.hollow {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
}


.button-group {
    margin-top: 36px;
}

.caption-title {
    margin-bottom: 5px;
}

.caption {
    color: #a6a6a6;
}

.caption-wrapper {
    margin-top: 10px;
    margin-bottom: 43px;
}

.contact-text {
    padding-right: 59px;
    color: #a3a3a3;
}
.f-button {
    color: #d1d1d1;
    transition: all .2s ease-in-out;
}
.f-button-hover:hover{
    color: #333;
}

.footer-logo {
    color: #c4c4c4;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
}

.footer-social-link {
    margin-left: 10%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
}

.half-width {
    width: 50%;
}

.navbar {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    background-color: #fff;
}

.logo {
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-transition: color 300ms ease;
    transition: color 300ms ease;
    color: #272832;
    font-size: 32px;
    line-height: 33px;
    font-weight: 300;
}

.logo:hover {
    color: #249cff;
}

.main-heading {
    color: #fff;
    font-size: 48px;
    font-weight: 300;
}

.mySlides {display: none;}

.project-row.teal {
    background-color: #272832;
    padding-right: 12.5%;
    padding-left: 12.5%;
    background-image: -webkit-gradient(linear, left top, right top, from(#00b7ff), to(#00f59b));
    background-image: linear-gradient(90deg, #00b7ff, #00f59b);
}

.project-link {
    position: relative;
    display: block;
    height: 350px;
    float: left;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
    color: #fff;
    text-decoration: none;
}

.project-link:hover {
    opacity: 0.5;
}

.project-link.project-1 {
    background-image: url("https://c1.staticflickr.com/1/859/39785435280_39ede7ca36_h.jpg");
}

.project-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 11px 19px 13px;
    background-color: rgba(0, 0, 0, 0.09);
}

.process-row {
    margin-bottom: 17px;
}

.replace-text {
    background-color: hsla(0, 0%, 100%, 0.09);
}

.section {
    padding-top: 70px;
    padding-bottom: 80px;
    color: #5c5c5c;
}

.section.about {
    background-color: #ededed;
    color: #696969;
}

.section.contact {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section.list {
    padding-bottom: 0px;
}

.section.wrapper {
    padding-top: 10px;
    padding-bottom: 60px;
}

.section.header {
    padding: 100px 10px;
    background-color: #90e3fd;
    background-image: linear-gradient(135deg, rgba(217, 0, 79, 0.88), rgba(227, 72, 0, 0.82)), url("https://daks2k3a4ib2z.cloudfront.net/53057ebe93a4fb23200001b5/5306596def0d48315c000043_nature.jpg");
    background-position: 0% 0%, 50% 50%;
    background-size: auto, cover;
    color: hsla(0, 0%, 100%, 0.72);
}

.section.header._2 {
    background-image: linear-gradient(135deg, rgba(145, 0, 217, 0.88), rgba(0, 182, 227, 0.82)),
    url("https://c1.staticflickr.com/1/802/41593765551_18134cd54e_k.jpg");
    background-position: 50% 35%;
    padding-bottom: 160px;
}

.section.grey {
    background-color: #ededed;
    color: #696969;
}

.section-dark-grey {
    background-color: #d1d1d1;
    color: #434343;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section.projects {
    padding-bottom: 0px;
    border-top: 1px solid #ededed;
    color: #4d4d4d;
}

.section.white {
    border-top: 1px solid #ededed;
}

.slideshow-container {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
    left: 0;
    right: 0;
    height: 100%;
    white-space: nowrap
}

.slide {
    padding-top: 100px;
    padding-bottom: 120px;
    background-position: 0% 0%, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, scroll;
}

.slide._1 {
    background-image: linear-gradient(135deg, rgba(222, 0, 63, 0.8), rgba(235, 74, 0, 0.8)),
    url("https://c1.staticflickr.com/1/65535/50900219048_fcb57e83d0_h.jpg");
}

.slide._2 {
    background-image: linear-gradient(135deg, rgba(148, 0, 222, 0.8), rgba(0, 176, 235, 0.8)),
    url("https://c1.staticflickr.com/1/65535/50900932391_54d88fc2c9_b.jpg");
}

.slide._3 {
    background-image: linear-gradient(135deg, rgba(0, 222, 96, 0.8), rgba(0, 188, 235, 0.8)),
    url("https://c1.staticflickr.com/1/65535/50900928896_6d09ff11d8_h.jpg");
}

.social-footer-wrap {
    text-align: right;
}

.work-type {
    color: #249cff;
    font-weight: 400;
}

.s-slide {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    white-space: normal;
    text-align: left
}

.s-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px
}

.s-inline-block {
    max-width: 100%;
    display: inline-block
}

.s-clearfix:before, .s-clearfix:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.s-clearfix:after {
    clear: both
}

.s-col-4 {
    width: 33.33333333%;
}

.s-col-5 {
    margin: 5px 50px 5px 5px;
    width: 25%;
    background-color: #d1d1d1;
    color: #fff;
}

.s-col-6 {
    width: 50%
}

.s-col-8 {
    width: 66.66666667%
}

.s-col-tech {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}

.s-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px
}

.s-container:before, .s-container:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.s-container:after {
    clear: both
}

.s-container .s-row {
    margin-left: -10px;
    margin-right: -10px
}

.s-form {
    margin: 0 0 15px
}

.s-row:before, .s-row:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.s-row:after {
    clear: both
}

.s-row .s-row {
    margin-left: 0;
    margin-right: 0
}

.s-nav {
    background: #fff;
    z-index: 1000
}

.s-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333
}

.s-nav:before, .s-nav:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.s-nav:after {
    clear: both
}

.tech-link{
    margin-left: 5%;
    margin-right: 5%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:any-link {
    text-decoration: none;
}

@media screen and (max-width: 991px) {
    .s-container {
        max-width: 728px
    }
}

@media screen and (max-width: 767px) {
    body {
        padding-top: 51px;
    }

    h2 {
        margin-bottom: 12px;
    }

    .button.hollow {
        padding: 11px 18px;
    }

    .navbar {
        padding-left: 10px;
    }

    .logo {
        margin-top: 9px;
        font-size: 22px;
    }

    .section.grey {
        padding-top: 29px;
        padding-bottom: 29px;
    }

    .section.header {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .section.header._2 {
        padding: 50px 10px 64px;
    }

    .section.list {
        padding-top: 53px;
        padding-bottom: 0px;
    }

    .project-link {
        width: 50%;
        height: 280px;
    }

    .half-width {
        width: 100%;
    }

    .main-heading {
        font-size: 32px;
        line-height: 34px;
    }

    .button-group {
        margin-top: 26px;
    }

    .slide {
        padding: 50px 10px 64px;
    }

    .brand-link {
        padding-left: 0px;
        text-align: left;
    }

    .form-wrapper {
        margin-top: 11px;
    }

    .process-row {
        margin-bottom: 0px;
    }

    .mobile-padding-wrapper {
        margin-right: 10px;
        margin-left: 10px;
    }

    .s-col {
        width: 100%;
        left: auto;
        right: auto
    }

    .s-col-small-6 {
        width: 50%
    }

    .s-nav-brand {
        padding-left: 10px
    }

    .s-row, .s-container .s-row {
        margin-left: 0;
        margin-right: 0
    }
}

@media screen and (max-width: 479px) {
    .bottom-padding {
        margin: 5px 0px 5px;
    }

    .section.footer {
        padding-top: 29px;
        padding-bottom: 29px;
    }

    .section.projects {
        padding-top: 29px;
    }

    .section.white {
        padding-top: 29px;
        padding-bottom: 29px;
    }

    .s-container {
        max-width: none
    }

    .s-col {
        width: 100%
    }

    .s-col-5 {
        margin: 5px 0px 5px;
    }

    .s-col-8 {
        padding-top: 8px;
    }

    .s-col-tech {
        display: flex;
    }

    .tech-link {
        margin-left: 20%;
        margin-right: 20%;
    }


}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}